/*------------------------------------------------------------------
[Master Stylesheet]
Project:     Responsive Html Template
Version:    1.0
Last change:    29/04/2019
Author Name: https://www.veechitechnologies.com/
-------------------------------------------------------------------*/


/*=======================================================================
                                Google Fonts
=========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,700,900|Playfair+Display:400,400i,700,700i,900&display=swap');

/*=======================================================================
                               Default Style
=========================================================================*/

* {
    margin: 0;
    padding: 0;
    outline: none;
}


body {
    font-family: 'Lato', sans-serif;
    line-height: 32px;
    font-size: 16px;
    background: #fff;
}

figure {
    margin: 0;
    padding: 0;
}

.pt-0 {
    padding-top: 0 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pl-60 {
    padding-left: 60px;
}

.pt-60 {
    padding-top: 60px !important;
}

.pb-60 {
    padding-bottom: 60px;
}

.pr-60 {
    padding-right: 60px;
}

.p-100 {
    padding: 100px 0px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-200 {
    padding-top: 200px;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 52px;
    color: #eb7f65;
    font-weight: 600;
}

p {
    margin-bottom: 0;
    color: #939393;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    color: #000;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.btn-info {
    background-color: ;
    border: none !important;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #fff !important;
}

.button {
    color: ;
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: inline-block;
}

.button:hover {}

button:focus {
    outline: none;
    outline: none;
}

a.more {
    padding: 15px 100px;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 40px;
    display: inline-block;
}

.btn1 {
	border: 0;
	padding: 16px 86px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	-webkit-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	margin-top: 27px;
	color: #ffffff;
	width: 270px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	background-color: rgb(235, 127, 101);
	box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
}


.btn1:hover {
    color: #eb7f65;
    background: #fff;
}

/*=======================================================================
                               Header Style
=========================================================================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 3px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #eb7f65;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidebar_menu_bar {
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #eb7f65;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.header {
    padding: 12px 0;

}

.navbar-nav {
    z-index: 2010;
}

.navbar-nav li {
    margin-right: 40px;
}

.navbar-nav li:last-child {
    margin-right: 0px;
}

.navbar-nav li a {
    color: #eb7f65;
    text-transform: uppercase;
}

/*=======================================================================
                               Banner Style
=========================================================================*/
.banner {
    position: relative;
    z-index: 1;
}

.banner::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/header_bg/01.png') no-repeat;
    background-position: left;
    left: 0;
    z-index: -1;
    bottom: 0;
}

.banner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/banner/04.png') no-repeat;
    top: 22px;
    right: 0;
    z-index: -1;
    background-position: top right;
}

.container.banner_bg {
    position: relative;
    padding: 55px 0;

}

.container.banner_bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/banner/banner_bg.png") no-repeat;
    background-size: ;
    bottom: 0;
    background-position: bottom;
    left: -22px;
}

.container.banner_bg::after {
    position: absolute;
    color: ;
    content: "";
    width: 106%;
    height: 100%;
    background-color: rgb(251, 232, 200);
      box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    top: 0;
    left: -34px;
    z-index: -1;
    border: 2px solid #fff;
}

.banner_title h1 {
    color: #eb7f65;
    font-size: 90px;
    font-weight: 600;
}

.banner_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 19px;
}

/*=======================================================================
                               about Style
=========================================================================*/
.about {
    position: relative;
    padding: 130px 0;
}

.about::before {
    position: absolute;
    content: "";
    width: 48%;
    height: 126%;
    background: #eb7f65;
    top: -180px;
    z-index: -1;
}

.about::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/about/about_bg.png') no-repeat;
    top: 30px;
    right: 0;
    background-size: ;
    background-position: top right;
    z-index: -1;
}

.thumb_bg {
    position: relative;
}

.thumb_bg::before {
    position: absolute;
    content: "";
    width: 116%;
    height: 100%;
    background: url('../images/about/05.png') no-repeat;
    bottom: 0;
    left: -115px;
    bottom: -17%;
    background-position: bottom;
}

.about_thumb img {
    border: 3px solid #fff;
}

.about_thumb .img_ltf {
    position: absolute;
    left: -95px;
    right: ;
}

.img-fluid.pl_100 {
    position: absolute;
    left: -177%;
}

.about_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 9%;
    padding-top: 28%;
}

.about_content p {
    color: #939393;
    font-size: 15px;
    padding: 13px 0 3px 0;
}

#about_content_0 {
    padding-top: 0;
    display: inherit;
    height: auto;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    overflow: hidden;
}

#top_0 {
    position: relative;
    padding: 0;
}

#top_0::before {
    top: -291px;
    height: 120%;
}

#top_0::after {
    position: absolute;
    content: "";
    width: 26%;
    height: 40%;
    background: url('../images/blog/06.png') no-repeat;
    top: -28%;
    left: 15%;
}

#top_0 .thumb_bg::before {
    bottom: 25%;
}

.attitude {
    font-size: 22px;
    margin-top: 20px;
    color: #eb7f65
}

/*=======================================================================
                               gallery Style
=========================================================================*/
.gallery_area {
    padding: 120px 0;
    position: relative;
}

.gallery_area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/about/04.png') no-repeat;
    top: 59%;
    right: 10%;
    z-index: -1;
    background-position: top right;
}

.gallery_area::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/banner/04.png') no-repeat;
    top: 27%;
    right: 0;
    z-index: -1;
    background-position: top right;
}

.container.gallery_bg {
    position: relative;
}

.container.gallery_bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/gallery/gallery_bg.png') no-repeat;
    top: 18px;
    left: -205px;
    background-size: ;
    background-position: left bottom;
    z-index: -1;
}


.insta_follow {
    margin-bottom: 52px;
    float: right;
}

.insta_follow a {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 16px;
    color: #eb7f65;
    font-size: 14px;
    font-weight: 600;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.follow {
	width: 54px;
	height: 54px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 14px;
	font-size: 23px;
	float: right;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	background-color: rgb(235, 127, 101);
	box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
}

.follow:hover {
    color: #eb7f65;
    background: #fff;
}

.gallery_area .btn1 {
    width: 31%;
    margin: auto;
    margin-top: 40px;
}

.gallery_photo img {
    margin-bottom: 27px !important;
    border: 2px solid #fff;
}

.photo_gallery_thumb {
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.photo_gallery_thumb:hover a {
    opacity: 1;
}

.photo_gallery_thumb a {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #eb7f65;
    font-size: 30px;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}

/*=======================================================================
                               blog Style
=========================================================================*/
.latest_blog {
    background: #eb7f65;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.breadcurb {
    padding-bottom: 130px;
    position: relative;
}

#details_pd_0 {
    padding-bottom: 0;
}

.breadcurb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/header_bg/01.png') no-repeat;
    background-position: left;
    left: 0;
    z-index: -1;
    bottom: 0;
}

#bread_pd {
    padding-bottom: 0;
}

.breadcurb::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/banner/04.png') no-repeat;
    top: 0;
    right: 0;
    z-index: -1;
    background-position: top right;
}

.breadcurb_thumb {
    position: relative;
    z-index: 1;
}

.breadcurb_thumb::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/blog/bread_bg.png') no-repeat;
    z-index: -1;
    left: -68px;
    background-position: center;
    background-size: contain;
    top: -66px;
}

.breadcurb_thumb::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/about/04.png') no-repeat;
    z-index: -1;
    background-position: right;
    right: -41%;
    top: 35%;

}

#blog_pd {
    padding-top: 0;
}

.container.bread_height {
    position: relative;
}

.container.bread_height::before {
    position: absolute;
    content: "";
    width: 106%;
    height: 530px;
    background-color: rgb(251, 232, 200);
  box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    left: -35px;
    border: 4px solid #fff;
}

.breadcurb_title h1 {
    font-size: 82px;
    height: 100%;
    padding: 135px 0 198px 0;
}

.latest_blog::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/blog/01.png') no-repeat;
    background-position: center;
    z-index: -1;
}

.latest_blog::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/about/05.png') no-repeat;
    bottom: 0;
    right: 97px;
    background-position: top right;
    top: 124px;
    z-index: -1;
}

.latest_blog .col-lg-6 {
    padding: 0;
}

.single_blog.blog_bg {
    position: relative;
    z-index: 1;
}

.single_blog.blog_bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 91%;
    border-right: 1px solid #f2bebe;
    left: 0;
    top: 49px;
    border-bottom: 1px solid #eab0b0;
    bottom: 0;
    z-index: -1;
}

.single_blog.blog_bg2 {
    position: relative;
    z-index: 1;
}

.single_blog.blog_bg2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 91%;
    border-left: 1px solid #f2bebe;
    left: -1px;
    top: -4px;
    border-top: 1px solid #eab0b0;
    bottom: 0;
    z-index: -1;
}

.blog_title {
    margin-bottom: 70px;
}

.blog_title h1,
h2 {
    color: #fff;
}

.single_blog {
    padding: 60px 0 0 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.single_blog:hover {
    background-color: rgb(235, 127, 101);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
}

.single_blog ul li {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

.single_blog ul li span {
    margin-left: 30px;
}

.single_blog h4 {
    color: #fff;
    font-size: 30px;
    margin: 24px 0;
}

.single_blog p {
    color: #fff;
    font-size: 18px;
    padding: 0 47px;
    margin-bottom: 38px;
}

.single_blog a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 73px !important;
    display: inline-block;
}

a.blog_view {
    background-color: rgb(235, 127, 101);
    -webkit-box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    padding: 22px 63px;
    margin: auto;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}

/*=======================================================================
                               Blog Details page Style
=========================================================================*/
.details_title {
    margin-top: -36%;
    padding-bottom: 30px;
}

.details_title h2 {
    color: #eb7f65;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}

.details_title ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 34px;
}

.details_title ul li {
    color: #979797;
    font-size: 18px;
    margin-right: 50px;
}

.details_title ul li:last-child {
    margin-right: 0;
}

.single_blog_content p {
    padding-bottom: 26px;
}

.single_blog_content p span a {
    color: #eb7f65;
}

.blog_details {
    padding-bottom: 60px;
}

.share_post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-top: 50px;
}

.share_post span {
    color: #eb7f65;
    text-transform: uppercase;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 28px;
}

.share_post ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.share_post ul li {
    margin-right: 30px;
}

.share_post ul li:last-child {
    margin-right: 0px;
}

.share_post ul li a {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #565656;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 20px;
}


.share_post ul li a:hover {
    background: #eb7f65;
    color: #fff;
}

.comment_area {
    padding: 60px 0;
    background: #eb7f65;
}

.comment_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.profile_thumb {
    width: 100%;
    text-align: right;
    margin-right: 30px;
}

.single_box_comment {
    padding-top: 30px;
}

.single_box_comment h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.single_box_comment small {
    font-size: 14px;
    color: #fff;
    padding-bottom: 20px;
    display: block;
}

.single_box_comment p {
    color: #fff;
}

.single_box_comment button {
    background-color: rgb(235, 127, 101);
    -webkit-box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    color: #fff;
    padding: 15px 50px;
    margin-top: 33px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.edit_box {
    background: #fff;
    margin-top: 60px;
    padding: 46px 60px;
}

.edit_box input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #565656;
}

.submit {
    color: #eb7f65 !important;
    text-align: left;
    background: transparent;
    border: none !important;
    text-transform: uppercase;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    padding-top: 10px;
    cursor: pointer;
}
.leave_comment .bg-white{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 38.8px 1.2px rgba(0, 0, 0, 0.06);
}


.leave_title {
    padding: 0 60px;
}

.leave_title h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #eb7f65;
}

.leave_title p {
    padding-bottom: 45px;
}

.leave_title input,
textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #565656;
}

.leave_title .submit {
    background-color: rgb(235, 127, 101);
    -webkit-box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    color: #fff !important;
    display: inline-block;
    width: auto;
    padding: 15px 40px;
    margin-top: 20px;
}

/*=======================================================================
                               footer Style
=========================================================================*/
.footer {
    padding: 130px 0;
    position: relative;
}

.footer::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/about/about_bg.png') no-repeat;
    top: 30px;
    right: 10px;
    background-size: ;
    background-position: right;
    z-index: -1;
}

.footer_content {
    margin-bottom: 54px;
    overflow: hidden;
}

.footer_content h1,
.follow_socials h1,
.get_in_touch h1 {
    font-size: 30px;
    margin-bottom: 24px;
}

.footer_content p,
.follow_socials p {
    color: #939393;
    font-size: 18px;
    margin-bottom: 30px;
    padding-right: 80px;
}

.footer_content input {
    padding: 22px 0 22px 34px;
    width: 68%;
    border: 0;
    float: left;
background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.05);
    color: #eb7f65;
}

input.sumbit {
    width: 75px !important;
    height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 !important;
    float: left;
    cursor: pointer;
    margin-left: 30px;
    background-color: rgb(235, 127, 101);
  box-shadow: 0px 8px 18px 0px rgba(255, 49, 0, 0.18);
    color: #fff !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 27px;
}


input.sumbit:hover {
    background: #fff !important;
    color: #eb7f65 !important;
}

.follow_socials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.follow_socials ul li {
    margin-right: 20px;
}

.follow_socials ul li:last-child {
    margin-right: 0px;
}

.follow_socials ul li a {
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #565656;
    font-size: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.follow_socials ul li a:hover {
    color: #fff;
    background: #eb7f65;
}

.get_in_touch {
     background-color: rgb(255, 255, 255);
      box-shadow: 0px 15px 38.8px 1.2px rgba(0, 0, 0, 0.06);
    padding: 60px;
}

.get_in_touch h1 {
    font-size: 30px;
    margin-bottom: 60px;
}

.get_in_touch input,
textarea {
    width: 100%;
    padding-bottom: 18px;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 24px;
}

#submit {
    background: transparent;
    border: 0;
    text-align: left;
    text-transform: uppercase;
    color: #eb7f65;
    padding-top: 22px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
    width: auto;
}

.copyright p {
    color: #eb7f65;
    padding: 0 0 20px 0;
    font-size: 18px;
}

.copyright a {
    color: #eb7f65;
}