/*------------------------------------------------------------------
[Master Stylesheet]
Project:     Responsive Html Template
Version:    1.0
Last change:    19/10/2019
Author Name: https://www.veechitechnologies.com/
-------------------------------------------------------------------*/


/*=======================================================================
                                Google Fonts
=========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,400i,600,700,700i,900&display=swap');

/*=======================================================================
                               Default Style
=========================================================================*/

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 32px;
    font-size: 14px;
    background: #fff;
}

figure {
    margin: 0;
    padding: 0;
}

.pt-0 {
    padding-top: 0 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pl-60 {
    padding-left: 60px;
}

.pt-30 {
    padding-top: 60px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pb-60 {
    padding-bottom: 60px;
}

.pr-60 {
    padding-right: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-90 {
    padding-top: 90px !important;
}

.p-90 {
    padding: 90px 0px !important;
}

.p-100 {
    padding: 100px 0px !important;
}

.p-120 {
    padding: 120px 0;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pd-180 {
    padding: 180px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    color: #242a38;
    text-transform: capitalize;
}

p {
    margin-bottom: 0;
    color: #525252;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

a {
    color: #000;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover {
    text-decoration: none;
    color: #000;
}

small {
    color: #21c998;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

button:focus {
    outline: none;
    outline: none;
}

a.btn1 {
    color: #fff;
    padding: 16px 65px;
    display: inline-block;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 35px;
    background-color: rgb(33, 201, 152);
    -webkit-box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.14);
    box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.14);
}

a.btn1:hover {
    color: #fff;
    background: #007aff;
}

a.btn2 {
    color: #fff;
    background: #007aff;
    padding: 16px 65px;
    padding: 16px 65px;
    display: inline-block;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 27px;
    border-radius: 35px;
}

a.btn2:hover {
    color: #fff;
    background: rgb(33, 201, 152);
}


/*=======================================================================
                               Header Style
=========================================================================*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 3px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidenav a:hover {
    color: #007aff;
}

.sidebar_menu_bar {
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #fff;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.header.sticky.sticky-header {
    position: fixed;
    z-index: 1020;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header {
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(87, 82, 82, 0.09);
    box-shadow: 0 2px 5px 0 rgba(87, 82, 82, 0.09);
}

.navbar-nav li {
    margin-right: 38px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-nav li a {
    font-size: 18px;
    color: #5d5d5d;
}

.header_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.header_contact a span {
    color: #21c998;
    margin-right: 1px;
}

.header_contact a {
    font-size: 18px;
    color: #5d5d5d;
}

/*=======================================================================
                               hero Style
=========================================================================*/
.hero_area {
    background: url('../images/header/01.png') no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 210px 0;
    overflow: hidden;
}

.hero_content {
    padding-bottom: 260px;
}

.hero_content h1 {
    font-size: 90px;
    width: 65%;
    color: #fff;
    font-weight: 600;
}

.hero_content p {
    font-size: 20px;
    color: #fff;
    padding-right: ;
    width: 50%;
    padding-bottom: 30px;
}

.hero_content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
}

.hero_content ul li {
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.hero_content ul li span {
    color: rgb(33, 201, 152);
}

/*=======================================================================
                              services Style
=========================================================================*/
.services_area {
    position: relative;
    background: #f9fafe;
}

.services_area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 700px;
    background: url('../images/services/01.png') no-repeat;
    background-position: bottom;
    top: -60%;
    background-size: cover;
}

.services_area::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 700px;
    background: url('../images/services/01.png') no-repeat;
    background-position: bottom;
    top: 47%;
    background-size: cover;
}

.services_heading {
    margin-top: -120px;
}

.services_heading small {
    font-size: 20px;
    font-weight: 600;
    color: #21c998;
    letter-spacing: 4px;
}

.services_heading h2 {
    font-size: 44px;
    font-weight: 600;
    width: 43%;
    color: #242a38;
}

.single_services {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    padding: 26px 18px 38px 18px;
    text-align: center;
    margin: 50px 0px;
}

.single_services.sb1,
.single_services.sb2,
.single_services.sb3,
.single_services.sb4 {
    position: relative;
    z-index: 0;
}

.single_services.sb1::before,
.single_services.sb2::before,
.single_services.sb3::before,
.single_services.sb4::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.single_services.sb1:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #edf6ff;
    opacity: 1;
}

.single_services.sb2:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #eefffc;
    opacity: 1;
}

.single_services.sb3:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #fff6ef;
    opacity: 1;
}

.single_services.sb4:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: #ffecee;
    opacity: 1;
}

.single_thumb {
    width: 90px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 28px;
}

.b1 {
    border: 1px solid #288fff;
    background: #edf6ff;
}

.b2 {
    border: 1px solid #21c998;
    background: #eefffc;
}

.b3 {
    border: 1px solid #fd8723;
    background: #fff6ef;
}

.b4 {
    border: 1px solid #e14e5d;
    background: #ffecee;
}

.single_services h5 {
    font-size: 22px;
    font-weight: 700;
    color: #242a38;
    padding: 0 16px 16px 16px;
}

.single_services p {
    color: #525252;
    font-size: 16px;
}

.single_services a.s1 {
    color: #007aff;
    padding-top: 15px !important;
    display: block;
}

.single_services a.s1,
.single_services a.s2,
.single_services a.s3,
.single_services a.s4 {
    font-size: 18px;
    font-weight: 600;
}

.single_services a.s2 {
    color: #21c998;
    padding-top: 15px !important;
    display: block;
}

.single_services a.s3 {
    color: #fd7d10;
    padding-top: 15px !important;
    display: block;
}

.single_services a.s4 {
    color: #dd3546;
    padding-top: 15px !important;
    display: block;
}

.services_area .owl-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute !important;
    top: -107px !important;
    right: 0 !important;
}

.services_area .owl-prev {
    font-size: 18px !important;
    color: #21c998 !important;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 13px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.services_area .owl-next {
    font-size: 18px !important;
    color: #007aff !important;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.services_area .owl-prev:hover,
.services_area .owl-next:hover {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
}

#services_area {
    position: relative;
    padding-bottom: 70px;
}

#services_area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f9fafe;
    top: -158px;
    z-index: -1;
}

#services_area::after {
    z-index: -1;
    top: 69%;
}

#services_area .single_services {
    margin: 22px 0px;
}

#services_area .services_heading {
    margin-top: -30px;
    margin-bottom: 40px;
}

/*=======================================================================
                               about Style
=========================================================================*/
.about_area {
    padding-bottom: 340px;
}

.about_thumb {
    margin-top: 100px;
    position: relative;
}

.about_thumb::before {
    position: absolute;
    content: "";
    width: 96%;
    height: 100%;
    background: #007aff;
    z-index: -1;
    bottom: ;
    top: 50px;
    left: -50px;
    border-radius: 20px;
}

.about_thumb img {
    border-radius: 20px;
    width: 100%;
}

.about_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.about_content {
    padding-left: 80px;
    padding-top: 30px;
}

.about_content small {
    margin-bottom: 2px;
    display: block;
}

.about_content h2 {
    font-size: 44px;
    padding-right: 30px;
    font-weight: 600;
    padding-bottom: 28px;
}

.about_content p {
    font-size: 16px;
    padding-bottom: 22px;
}

.curb_area {
    height: 690px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.curb_content {
    margin-top: -180px;
}

.curb_content h2 {
    font-size: 90px;
    font-weight: 600;
    color: #fff;
}

.curb_content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.curb_content ul li {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

.curb_content ul li:last-child {
    margin-right: 0;
}

.curb_content ul li span {
    color: #21c998;
    margin-left: 3px;
}

#wrap_0 {
    padding: 0 66px 0 0;
    margin-top: 36%;
}

#wrap_1 {
    margin-top: 16%;
}

#ab1 {
    padding-bottom: 30px;
}

#ab1 .about_thumb {
    margin-left: 9%;
}

/*=======================================================================
                               Department Style
=========================================================================*/
.department_area {
    position: relative;
    z-index: 0;
}

.department_area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1000px;
    background: url('../images/services/01.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: bottom;
    top: -220px;
    background-size: cover;
}

.department_area::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 700px;
    background: url('../images/services/01.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: bottom;
    top: 30%;
    background-size: cover;
    z-index: -1;
}

.department_heading {
    margin-top: -40px;
    text-align: center;
    padding-bottom: 65px;
}

.department_heading h2 {
    font-size: 44px;
    font-weight: 600;
}

.department_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 35px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
}

.department_section img {
    width: 100%;
}

.department_section h6 {
    margin-left: 20px;
    font-size: 26px;
    font-weight: 700;
}

.single_department {
    margin-bottom: 61px;
    overflow: hidden;
}

.single_department img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.single_department img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.department_area .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: inherit;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
}

.department_area .owl-prev {
    font-size: 18px !important;
    color: #21c998 !important;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 13px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.department_area .owl-next {
    font-size: 18px !important;
    color: #007aff !important;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.department_area .owl-prev:hover,
.department_area .owl-next:hover {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
}

#inner_department {
    background: #f9fafe;
    position: relative;
    z-index: 0;
}

#inner_department {
    background: #f9fafe;
    position: relative;
    z-index: 0;
}

#inner_department::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f9fafe;
    top: -154px;
    z-index: -1;
}

#inner_department::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 700px;
    background: url('../images/services/01.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: bottom;
    top: 56%;
    background-size: cover;
    z-index: -1;
}

/*=======================================================================
                              team Style
=========================================================================*/
.team_area {
    padding-bottom: 0;
}

.team_area .department_heading {
    width: 44%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.team_profile {
    padding: 34px 30px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 50px;
}

.team_profile h6 {
    padding-bottom: 40px;
    font-size: 26px;
    font-weight: 700;
}

.team_profile h6 span {
    float: right;
    font-size: 20px;
    color: #0168c4;
    font-weight: 400;
}

.team_area .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: inherit;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px !important;
}

.team_area .owl-prev {
    font-size: 18px !important;
    color: #21c998 !important;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 13px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
}

.team_area .owl-next {
    font-size: 18px !important;
    color: #007aff !important;
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.06);
}

/*=======================================================================
                               testimonials Style
=========================================================================*/
.testimonials_content {
    text-align: center;
    width: 46%;
    margin: 0 auto;
}

.testimonials_content h2 {
    font-size:
}

.slide_one {
    background: url('../images/team/01.png') no-repeat;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    background-size: cover;
    background-position: center;
    margin-right: 10px !important;
}

.slide_two {
    background: url('../images/testimonials/02.png') no-repeat;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    background-size: cover;
    background-position: center;
    margin-right: 10px !important;
}

.slide_three {
    background: url('../images/team/03.png') no-repeat;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    background-size: cover;
    background-position: center;
    margin-right: 10px !important;
}

.slide_four {
    background: url('../images/team/01.png') no-repeat;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    background-size: cover;
    background-position: center;
    margin-right: 10px !important;
}

.slide_five {
    background: url('../images/team/02.png') no-repeat;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    -webkit-box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    box-shadow: 0px 20px 38px 0px rgba(33, 201, 152, 0.08);
    background-size: cover;
    background-position: center;
    margin-right: 10px !important;
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.swiper-slide p {
    font-size: 20px;
    font-style: italic;
    color: #232323;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide h6 {
    margin-top: 26px;
    font-size: 22px;
    font-weight: 600;
}

.swiper-slide small {
    color: #737373;
    padding-top: 16px;
    font-size: 18px;
}

/*=======================================================================
                               Mission Style
=========================================================================*/
.mission_area {
    background: url('../images/all/01.png') no-repeat;
    padding: 120px 0;
    background-size: cover;
    position: relative;
    background-position: center;
}

.mission_area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), color-stop(55%, rgb(7, 131, 242)), to(rgb(7, 138, 255)));
    background: -o-linear-gradient(right, rgb(255, 255, 255) 0%, rgb(7, 131, 242) 55%, rgb(7, 138, 255) 100%);
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(7, 131, 242) 55%, rgb(7, 138, 255) 100%);
    top: 0;
    opacity: .4;
}

.couning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.single_count h6 {
    font-size: 60px;
    color: #fff;
}

.single_count p {
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}

/*=======================================================================
                               Footer Style
=========================================================================*/

.footer_logo a span {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding-top: ;
}

.footer_content p {
    padding: 15px 134px 40px 0;
}

.footer_content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_content ul li {
    margin-right: 10px;
}

.footer_content ul li:last-child {
    margin-right: 0px;
}

.footer_content ul li a {
    width: 38px;
    height: 38px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 38px 0px rgba(0, 0, 0, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #565656;
}

.footer_content ul li a:hover {
    background: #2c50ec;
    color: #fff;
}

.footer_shutcut_link {
    padding-top: 5px;
}

.footer_shutcut_link h6 {
    font-size: 22px;
    padding-bottom: 40px;
    color: #525252;
    font-weight: 600;
}

.footer_shutcut_link ul {}

.footer_shutcut_link ul li {
    padding-bottom: 10px;
}

.footer_shutcut_link ul li a {
    color: #525252;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 16px;
}

.footer_shutcut_link ul li a:hover {
    color: #2c50ec;
}

.footer_shutcut_link.pl {
    padding-left: 65px;
}

.footer_shutcut_link.p-20 {
    padding-left: 20px;
}

.copyright {
    text-align: center;
    padding: 40px 0;
    background-color: #fbfbfb;
}

.copyright a {
    color: #4665ee;
}